@import url("signin.css");

form::after {
  content: "";
  margin-top: 0rem;
  border: 0px solid #93c5fd;
  border-radius: 0rem;
  padding: 0rem;
  font-size: 0rem;
  line-height: 0;
}

h2::after {
  content: "OSINTMe";
}

body::after {
  content: "";
}

/* from scan.css */
input::placeholder {
  color: grey;
  opacity: 0.25;
  font-style: italic;
}
